.page-header {
  display: flex;
  flex-direction: column;

  background-color: #010409;
  .globel-bar {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
    // font-size: 1.2em;
    .bar {
      // border: 1px solid;
      display: flex;
      column-gap: 1em;
      align-items: center;
      .button-border {
        border: 1px solid #ffffff;
        display: flex;
        justify-content: center;
        border-radius: 0.3em;
        align-items: center;
        padding: 0.3em;
        width: 1.5em;
        height: 1.5em;
        cursor: pointer;
      }
    }
    .globel-bar-left {
    }
    .globel-bar-right {
      // border: 1px solid;
    }
  }
  .local-bar {
    display: flex;
    column-gap: 1em;
    padding: 0.3em 1em;
    font-weight: lighter;
    font-size: 0.85em;
    .bar-menu-item {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 0.5em;
        justify-content: center;
        padding: 0.5em;
        border-radius: 0.5em;
        border-radius: 0.5em 0.5em 0 0;
        .count-text{
            background-color: #2D3139;
            font-size: 0.8em;
            padding: 0.3em 0.7em;
            border-radius: 1em;
        }
    }
    .selected-bar-menu{
        border-bottom: 1px solid orange;
    }
    .disable-menu-item{
        cursor: not-allowed;
    }
  }
}
